.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

h2 {
  margin-top: 20px;
}

img {
  border-radius: 50%;
}
